<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/mainPageStyling.css">
    </head>

    <body>
        <div class="float-container">
            <h1 class="centerText">Welcome to your brithday website!</h1>
            
            <div class="box">
                <div class="box one">
                    <h1>{{elephantFact[0]}}</h1>
                    <h2>{{elephantFact[1]}}</h2>
                </div>
    
                <div class="box two">
                    <h1>{{badJoke[0]}}</h1>
                    <h2>{{badJoke[1]}}</h2>
                </div>
    
                <div class="box three">
                    <h1>{{pickupLine[0]}}</h1>
                    <h2>{{pickupLine[1]}}</h2>
                </div>
    
                <div class="box four">
                    <h1>{{scienceFact[0]}}</h1>
                    <h2>{{scienceFact[1]}}</h2>
                </div>
    
                <div class="box five">
                    <h1>{{generalFact[0]}}</h1>
                    <h2>{{generalFact[1]}}</h2>
                </div>
    
                <div class="box six">
                    <h1>{{loveTranslation[0]}}</h1>
                    <h2>{{loveTranslation[1]}}</h2>
                </div>
            </div>
            
        </div>
        
        <div>
            <h1 class="centerText">Elephants of the day!</h1>
            <img src={{elephantPath}} class="center">
        </div>
        
    </body>

</html>
